// Specific CSS for your home-page
a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  // New and Used Item Category Forms
  .category-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .category-item {
    flex: 0 0 45%;
  }
  
  .category-selector {
    position: absolute;
    transform: scale(0);
  }
  
  .category-selector + label {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 30px 10px 30px 10px;
    border: 2px solid #EAEAEA;
    border-radius: 4px;
    background-color: white;
    color: black !important;
    margin-bottom: 16px;
  }
  
  .category-selector:checked + label {
    color: black !important;
  }
  
  
  #item_category_id_20 + label {
    color: #black;
  }
  
  #item_category_id_20:checked + label {   
    border-color: #167FFB;
  }
  
  
  #item_category_id_21 + label {
    color: #black;
  }
  
  #item_category_id_21:checked + label {
    border-color: #167FFB;
  }
  
  
  #item_category_id_22 + label {
    color: #black;
  }
  
  #item_category_id_22:checked + label {
    border-color: #167FFB;
  }

  #item_category_id_23 + label {
    color: #black;
  }
  
  #item_category_id_23:checked + label {
    border-color: #167FFB;
  }

  .form-control.is-valid {
    background: white;
    color: black;
    border: 1px solid #ced4da;
  }


  // Toggle form
  .toggle {
    position: absolute;
    transform: scale(0);
  }
  
  .toggle + label {
    position: relative;
    display: inline-block;
    padding-left: 40px;
  }
  
  .toggle + label::before {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    width: 36px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #EAEAEA;
    border-radius: 50rem;
  }
  
  .toggle:checked + label::before {
    background-color: #167FFB;
  }
  
  .toggle + label::after {
    content: '';
    display: block;
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
    background-color: white;
    border-radius: 50%;
    transition: left 0.2s ease;
  }
  
  .toggle:checked + label::after {
    left: 18px;
  }

  .form-check-label {
    color: black !important;
  }

  .form-check {
    padding-left: 0rem;
  }